<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-3">
  <a class="navbar-brand" href="#">Supply-of-Goods M&DP</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" *ngIf="roleName === 'MANUFACTURER'" [routerLink]="['/create-product']">Create Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="roleName === 'WHOLESALER'" [routerLink]="['/get-orders']">Get Orders</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="roleName === 'WHOLESALER'" [routerLink]="['/place-product']">Place Order</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="roleName === 'WHOLESALER'" [routerLink]="['/add-inventory']">Add Inventory</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="roleName === 'CONSUMER'" [routerLink]="['/consumer-place-order']">Place Order</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="roleName === 'CONSUMER'" [routerLink]="['/consumer-get-orders']">Orders</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <!-- <li *ngIf="!IsLoggin" class="nav-item">
        <a class="nav-link" [routerLink]="['/login']">Login</a>
      </li>
      <li *ngIf="!IsLoggin" class="nav-item">
        <a class="nav-link" [routerLink]="['/registration']">Register</a>
      </li> -->
      <li *ngIf="IsLoggin" class="nav-item">
        <a class="nav-link" style="cursor:pointer" (click)="logout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>

<body>
  <div class="container mt-4">
    <router-outlet></router-outlet>
  </div>
</body>