<div class="d-flex justify-content-center align-items-center" style="min-height: 80vh;">
  <div class="card shadow p-4" style="width: 100%; max-width: 500px;">
    <h2 class="text-center fw-bold mb-4">Create an Account</h2>

    <form [formGroup]="itemForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label class="form-label">Username</label>
        <input type="text" class="form-control" formControlName="username" placeholder="Username">
        <div *ngIf="itemForm.get('username')?.dirty" class="text-danger small">

  <span *ngIf="itemForm.get('username')?.hasError('required')">
    Username is required.
  </span>

  <span *ngIf="!itemForm.get('username')?.hasError('required') && itemForm.get('username')?.hasError('pattern')">
    Must start with letter and contain only letters/numbers.
  </span>

  <span *ngIf="!itemForm.get('username')?.hasError('required') 
               && !itemForm.get('username')?.hasError('pattern') 
               && itemForm.get('username')?.hasError('maxlength')">
    Maximum 10 characters allowed.
  </span>

</div>
      </div>

      <div class="mb-3">
        <label class="form-label">Email</label>
        <input type="email" class="form-control" formControlName="email" placeholder="email@example.com">
        <div
          *ngIf="itemForm.get('email')?.hasError('required') && (itemForm.get('email')?.touched || itemForm.get('email')?.dirty)"
          class="text-danger small">
          Email is required.
        </div>
        <div
          *ngIf="itemForm.get('email')?.hasError('email') && (itemForm.get('email')?.touched || itemForm.get('email')?.dirty)"
          class="text-danger small">
          Enter a valid email address.
        </div>
      </div>

      <!-- Password -->
      <div class="mb-3">
        <label class="form-label">Password</label>
        <input type="password" class="form-control" formControlName="password" placeholder="••••••••">
        <div
          *ngIf="itemForm.get('password')?.hasError('required') && (itemForm.get('password')?.touched || itemForm.get('password')?.dirty)"
          class="text-danger small">
          Password is required.
        </div>
        <div
          *ngIf="itemForm.get('password')?.hasError('pattern') && (itemForm.get('password')?.touched || itemForm.get('password')?.dirty)"
          class="text-danger small">
          Password must be at least 8 characters long, include one uppercase, one lowercase, one number, and one special
          character.
        </div>
      </div>

      <div class="mb-4">
        <label class="form-label">Role</label>
        <select class="form-select" formControlName="role">
          <option value="">-- Select Role --</option>
          <option value="MANUFACTURER">Manufacturer</option>
          <option value="WHOLESALER">Wholesaler</option>
          <option value="CONSUMER">Consumer</option>
        </select>
        <div *ngIf="itemForm.get('role')?.invalid && itemForm.get('role')?.touched" class="text-danger small">
          Role is required.
        </div>
      </div>

      <button type="submit" class="btn btn-dark w-100 mb-3" [disabled]="itemForm.invalid">Register</button>
      <div *ngIf="errorMsg" class="text-danger small text-center mb-2">
  {{ errorMsg }}
</div>
    </form>

    <p class="text-center mb-0">Already have an account?
      <a [routerLink]="['/login']" class="fw-bold text-primary">Login</a>
    </p>
  </div>
</div>